<!DOCTYPE html>
<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet"> 
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand font-cursive" href="#">
            <img src="/static/img/thc.png" width="35" height="35" class="d-inline-block align-top"
                alt="">
                Teresina Hacker Clube
        </a>
    </nav>
    <section class="jumbotron">
        <div class="container">
            <form action="/shortener" method="POST">
                <div class="form-group">
                    <label class="font-cursive">URL</label>
                    <input type="text" class="form-control style-input" name="longurl" id="longurl" placeholder="url: https://exemple.com">
                </div>
                <div class="form-group">
                    <label class="font-cursive">Customização</label>
                    <input type="text" class="form-control style-input" name="custom" id="custom" placeholder="Hacker">
                </div>
                <p>
                    <button type="submit" class="btn btn-secondary button-cursive btn-lg btn-block">Submit</button>
                </p>
            </form>
        </div>
    </section>
</body>

</html>